.hero-container {
  flex-direction: column;
}

.main-hero {
  background-color: #2e2f42;
}

.main-hero-heading {
  text-align: center;
  font-size: 56px;
  line-height: 1.071;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 496px;
  padding-bottom: 48px;
  margin-top: 188px;
}

.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.04em;
  padding: 0 0; /* Can move to common */
  border: none; /* Also */
  border-radius: 4px;
  width: 169px;
  height: 56px;
  margin-bottom: 188px;
  justify-content: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
